body{
    background-color: #d3d3d3d3;
    display: flex;
    font-family: 'Roboto', sans-serif;
}

.Background{
    width: 100%;
    display: flex;
}

.Title-rectangle{
    flex: 80%;
    height: 80px;
    font-size: 75px;
    text-align: center;
    line-height: 1.05;
}

.Right-rectangle-change{
    display: none;
}

.First-row-content{
    display: flex;
}

.Content-rectangle{
    width: 300px;
    height: 200px;
}

.Table-of-contents{
    border: 1px solid #ccc;
    padding: 20px;
    margin: 20px 0;
    background-color: black;
    border-radius: 5px;
    color: white;
    font-size: 25px;
    height: 260px;
}


.Quote1{
    border: 1px solid #ccc;
    padding: 20px;
    margin: 20px 0px;
    background-color: #fc9d9d;
    border-radius: 5px;
    color: yellow;
    font-size: 32px;
    font-family:  'Dancing script';
    text-align: center;
}

.Quote1-change{
    display: none;
    border: 1px solid #ccc;
    padding: 20px;
    margin: 20px 0px;
    background-color: #fc9d9d;
    border-radius: 5px;
    color: yellow;
    font-size: 32px;
    font-family:  'Dancing script';
    text-align: center;
}

.Quote2{
    border: 1px solid #ccc;
    padding: 20px;
    margin: 20px 20px;
    background-color: #fc9d9d;
    border-radius: 5px;
    color: yellow;
    font-size: 32px;
    font-family:  'Satisfy';
    text-align: center;
}

.Left-rectangle{
    flex: 80%;
    height: 2000px;
}



.Right-rectangle{
    flex: 20%;
    height: 2000px;
    background-color: grey;
    font-size: 30px;
}

.Links{
    position: sticky;
    top: 0;
    font-size: 40px;
    color: red;
}

.Pages{
    font-size: 60px;
    color: red;
    text-align: center;
    line-height: 1.3;
    background-color: #333;
    padding: 10px;
}

.Links a {
    display: block;
    color: #fff;
    text-decoration: none;
    font-size: 35px;
    padding: 10px;

}

.Links a:hover {
    background-color: darkgrey;
    color: black;
}

.Table-of-contents a:visited {
    color: inherit;
}

.Table-of-contents a{
    display: block;
    text-decoration: none;
}

.Table-of-contents a:hover {
    background-color: darkgrey;
    color: black;
}

.Who-am-I{
    width: 90%;
    height: auto;
    border: 1px solid #ccc;
    margin: 20px auto;
    background-color: white;
    border-radius: 5px;
    color: black;
    font-size: 25px;
}

h1{
    color: red;
    font-size: 40px;
}

p{
    font-size: 25px;
    border-radius: 5px;
   margin: 50px;
}

.Content-box{
    border: 1px solid #ccc;
    padding: 20px;
    margin: 20px;
    background-color: white;
    border-radius: 5px;
    color: black;
    font-size: 25px;    
}

.Footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    display: none; 
}

.Style-button button{
    margin: 20px;
    padding: 20px 20px;
    font-size: 40px;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.caption {
    margin-top: 0px;
    font-size: 23px;
    color: white;
    text-align: center;
}

/* Technical Skills */

.Table-of-contents-tech{
    border: 1px solid #ccc;
    padding: 20px;
    margin-right: 20px;
    margin-top: 20px;
    background-color: black;
    border-radius: 5px;
    color: white;
    font-size: 30px;
    height: auto;
}

.Projects{
    width: 90%;
    height: auto;
    border: 1px solid #ccc;
    margin: 20px;
    background-color: white;
    border-radius: 5px;
    color: black;
    font-size: 25px;
}



/* Qualifications Pages  */

.First-row-content a img{
    width: 300px;
    height: 436px;
    margin-right: 20px;
    margin-top: 22px;
    border: 2px solid black;
}
.First-row-content a {
    position: relative;
    display: inline-block;
}

.Technical-rectangle{
    width: 90%;
    height: auto    ;
    border: 1px solid #ccc;
    margin: 20px;
    background-color: white;
    border-radius: 5px;
    color: black;
    font-size: 25px;
}

.overlay {
    font-size: 40px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.75); 
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    opacity: 1;
    transition: opacity 0.3s; 
}

a:hover .overlay {
    opacity: 0;
}

/* Services */

.Help-world{
    width: 90%;
    height: auto;
    border: 1px solid #ccc;
    margin: 20px;
    background-color: white;
    border-radius: 5px;
    color: black;
    font-size: 25px;
}