.ManagerHome-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(
        rgba(255, 255, 255, 0.6),
        rgba(255, 255, 255, 0.6)
      ),
      url('/bamboo.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
  }

  .bigButton-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-gap: 2rem; 
    width: 80%; 
    margin-top: 2rem;
  }