.custom-button {
  width: 6.5rem;
  padding: 0.75rem 0;
  background-color: #d1282e;
  color: white;
  border: none;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.custom-button:hover {
  background-color: darkred;
}

.small-button {
  width: 150px;
  height: 50px;
  font-size: 1rem;
}

.big-button {
  width: 600px;
  height: 300px;
  font-size: 2rem;
  border: 30px solid black;
}
