.modal {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    background: white;
    padding: 2.5rem;
    border-radius: 10px;
    text-align: center;
  }
  
  .modal-text {
    margin: 2rem 0;
  }
  
  .modal-actions {
    display: flex;
    justify-content: space-evenly;
  }